{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}restaurant_name{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to {{restaurant_name}}</h1>
            <p>Delicious food delivered to your door!</p>
            
            <!---Navigation links -->

            <nav class="navbar" >
                <div class="nav_container">
                    <img src="{% static 'images/logo.png' %}" alt="Restaurant logo" class="logo">
                    <ul class="nav-links">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <h2>Today's Specials</h2>

            <!-- search bar --->
            <form method="GET" action="" class="search-form">
                <input type="text" name="q" placeholder="Search for menu items.." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
            {% block content %}{% endblock %}

        </main>

        <footer>
            <p>&copy; {{ current_year }} {{ restaurant_name}}. All rights reserved</p>
            <p>Opening Hours:Mon-Fri: 11am-9pm, Sat-Sun: 10am-10pm</p>
        </footer>
    </div>
</body>
</html>
