{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}restaurant_name{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            {% if restaurant_logo %}
               <img src="{{ restaurant_logo }}" alt="Restaurant Logo" class="logo-img">
            {% endif %}
            
            <h1>Welcome to {{restaurant_name}}</h1>
            <p>Delicious food delivered to your door!</p>
            
            <!---Navigation links -->

            <nav class="navbar" >
                <div class="nav_container">
                    <img src="{% static 'images/logo.png' %}" alt="Restaurant logo" class="logo">
                    <ul class="nav-links">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <h2>Today's Specials</h2>

            <!-- search bar --->
            <form method="GET" action="{% url 'home' %}">
                <input type="text" name="q" placeholder="Search for menu items.." 
                 value="{{ request.GET.q|default:' '}}"
                 class="search-input">
                <button type="submit">Search</button>
            </form>
            {% block content %}{% endblock %}

        </main>

        <footer>
            <div class="footer-content">
                <p><strong>Opening_hours</strong></p>
                <pre>{{Opening_hours}}</pre>
                <p>Contact: {{ restaurant_phone }}</p>
                <p>&copy; {{ current_year }} {{ restaurant_name}}. All rights reserved</p>
            </div>
        </footer>
    </div>
</body>
</html>
