<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - {{restaurant_name}}</title>
    <link rel="stylesheet" href="{% static 'css/styel.css'%}">
</head>
<body>
<div class="container">
    <header>
        <h1>ContactUs</h1>
        <p> We'd love hear from you!</p>
    </header>

    <main>
        <p><strong>Phone:</strong>+91 987654 432110</p>
        <p><strong>Eamail:</strong>Contact@restaurant.com</p>
        <p><strong>Address:</strong><123 main Street, Benhaluru</p>
    </main>

    <footer>
        <p>&copy; 2025 {{ restaurant_name }}. All rights rserved,</p>
    </footer>
</div>
</body>
</html>