{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ restauranr_name - Menu</title>
    <link rel="styelsheet" href="{ % static 'css/style.css' %}">
        
</head>
<body>
    <h1> Welcome to {{ restauranr_name }}</h1>
    <p><strong>Call us :</strong> {{ restauranr_phone}}</p>
    {% if menu-items %}
    {% for item in menu-items %}
                <div class ="menu-item">
                    <h2>{{item.name}}</h2>
                    <p>{{ item.description}}</p>
                    <p class="price">Rs{{ite.price}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No Menu items available.</p>
        {% endif %}
    </body>
</html>

        