/* Basic styling for homepage */
body {
    font-family: "Arial", Arial, Helvetica, sans-serif ;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container for content*/
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
    
}
/* Header styles */
header {
    background-color: #ff6600;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Menu item styels */
.menu-item {
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-item h2{
    margin-top: 0;
}

.price {
    color: green;
    font-weight: bold;
}

/* Footer styels */
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #222;
    color: white;
    border-radius: 5px;

}