/* Basic styling for homepage */
body {
    font-family: "Arial", Arial, Helvetica, sans-serif ;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container for content*/
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
    
}

/* Search form */
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 25px;
}

.search-input:focus{
    border-color: #ff6f61;
    box-shadow: 0 0 5px rgba(255,11,97,0.5);
}

.search-button{
    padding: 10px 20px;
    border: none;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    font-size: 14px;
}



/* Header styles */
header {
    background-color: #ff6600;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

header p {
    font-size: 16px;
    color: #444;
    margin-top: 5px;
}

.tagline {
    font-size: 18px;
    color: #555;
    margin: 8px 0;
    font-style: italic;
}

/* Menu item styels */
.menu-item {
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-item img {
    max-width: 200px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

.menu-item h2{
    margin-top: 0;
}

.price {
    color: green;
    font-weight: bold;
}

/* Footer styels */
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #222;
    color: white;
    border-radius: 5px;

}

.logo-img {
    max-width: 120px;
    margin-bottom: 10px;
}

/* breadcrumbs style */
.breadcrumb {
    background: none;
    margin: 10px 0;
    padding: 0;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item.active {
    color: #555;
}

/* Order Button Styling */

.order-btn-container {
    margin: 30px 0;
    text-align: center;
}

.order-btn {
    display: inline-block;
    background-color: #ff5722;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    transition: bachround-color 0.3s,transform 0.2s;
}

/* Hover effect */
.order-btn:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}